<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BigLittleMatcherXcodeProj.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B88F96F21F2FCDC80064407C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B88F97031F2FCDC80064407C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B88F970E1F2FCDC90064407C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
